.3_6 { 
	overflow:hidden;
}.e3_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2940px;
	position:absolute;
}.e3_8 { 
	color:rgba(0, 0, 0, 1);
	width:708px;
	height:133px;
	position:absolute;
	left:99px;
	top:197px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_5 { 
	color:rgba(100.9375025331974, 100.9375025331974, 100.9375025331974, 1);
	width:622px;
	height:130px;
	position:absolute;
	left:98px;
	top:418px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e3_48 { 
	width:802.500244140625px;
	height:429px;
	position:absolute;
	left:776px;
	top:238px;
}.e3_49 { 
	border-radius:500px;
	width:224.87420654296875px;
	height:221.512451171875px;
	position:absolute;
	left:160.73716735839844px;
	top:30.418987274169922px;
}.e3_50 { 
	transform: rotate(-13.333193256246302deg);
	opacity:0.5;
	width:761.1030883789062px;
	height:260.93084716796875px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:175.52066040039062px;
}.e3_51 { 
	width:224.87420654296875px;
	height:221.512451171875px;
	position:absolute;
	left:160.73716735839844px;
	top:30.418987274169922px;
}.3_52 { 
	overflow:hidden;
}.e3_52 { 
	border-radius:500px;
	width:224.87420654296875px;
	height:221.512451171875px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_53 { 
	border-radius:500px;
	width:224.87420654296875px;
	height:221.512451171875px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_54 { 
	transform: rotate(-56.12349933093023deg);
	width:265.9474792480469px;
	height:244.84799194335938px;
	position:absolute;
	left:57.80228042602539px;
	top:210.66082763671875px;
}.e3_55 { 
	width:129.06512451171875px;
	height:124.79574584960938px;
	position:absolute;
	left:273.1742858886719px;
	top:0px;
}.e3_56 { 
	width:179.7410125732422px;
	height:173.93406677246094px;
	position:absolute;
	left:110.85367584228516px;
	top:120.89594268798828px;
}.e9_35 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:47px;
	position:absolute;
	left:819px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}.e9_36 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:47px;
	position:absolute;
	left:971px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}.e3_3 { 
	width:1481px;
	height:493px;
	position:absolute;
	left:0px;
	top:1091px;
}.3_4 { 
	overflow:hidden;
}.e3_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:2133px;
	height:478px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_5 { 
	width:2089.5px;
	height:535px;
	position:absolute;
	left:-16px;
	top:-19px;
}.e41_45 { 
	width:2083.28515625px;
	height:894.830322265625px;
	position:absolute;
	left:-643px;
	top:1218px;
}.e41_47 { 
	transform: rotate(-90.09043056877445deg);
	background-color:rgba(0, 0, 0, 1);
	width:855.54541015625px;
	height:2081.9375px;
	position:absolute;
	left:1.3503162860870361px;
	top:894.830322265625px;
}.e23_54 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:449px;
	height:75.28181457519531px;
	position:absolute;
	left:1288.28515625px;
	top:50.772727966308594px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e9_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:759px;
	height:338px;
	position:absolute;
	left:1004px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e19_2 { 
	width:210px;
	height:209px;
	position:absolute;
	left:386px;
	top:1282px;
}.ei19_2_17_6 { 
	box-shadow:0px 12px 24px rgba(0, 0, 0, 0.25);
	background-image:url(images/envelope.png);
	width:168.984375px;
	height:168.1796875px;
	position:absolute;
	left:20.5078125px;
	top:20.41015625px;
	background-repeat:no-repeat;
	background-size:cover;
}.ei19_2_17_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.3199999928474426);
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:119.35552978515625px;
	height:119.19529724121094px;
	position:absolute;
	left:45.32215881347656px;
	top:44.90234375px;
}.ei19_2_17_8 { 
	width:55.98632049560547px;
	height:59.18940734863281px;
	position:absolute;
	left:45.11719512939453px;
	top:108.173828125px;
}.ei19_2_17_9 { 
	background-color:rgba(224.000001847744, 30.00000011175871, 90.00000223517418, 1);
	opacity:0.47999998927116394;
	width:55.6985969543457px;
	height:55.624473571777344px;
	position:absolute;
	left:0.20517921447753906px;
	top:3.564934015274048px;
}.ei19_2_17_10 { 
	background-color:rgba(224.000001847744, 14.000000115484, 90.00000223517418, 1);
	background-image:url(images/red.png);
	width:55.6985969543457px;
	height:55.624473571777344px;
	position:absolute;
	left:0.20517921447753906px;
	top:0.2993089556694031px;
	background-repeat:no-repeat;
	background-size:cover;
}.ei19_2_17_11 { 
	transform: rotate(-90.00000251646159deg);
	opacity:0.5199999809265137;
	width:55.515625px;
	height:23.7890682220459px;
	position:absolute;
	left:31.99216651916504px;
	top:55.7197265625px;
	border-top-left-radius:1000px;
	border-top-right-radius:1000px;
	border-bottom-left-radius:1000px;
	border-bottom-right-radius:1000px;
}.ei19_2_17_12 { 
	transform: rotate(-90.00000251645487deg);
	opacity:0.5199999809265137;
	width:34.2890625px;
	height:1.2304672002792358px;
	position:absolute;
	left:32.19727325439453px;
	top:45.310546875px;
}.ei19_2_17_13 { 
	transform: rotate(-90.00000251645487deg);
	opacity:0.5199999809265137;
	width:34.2890625px;
	height:1.2304672002792358px;
	position:absolute;
	left:54.55078125px;
	top:45.310546875px;
}.ei19_2_17_14 { 
	transform: rotate(179.99999501489773deg);
	border-radius:500px;
	opacity:0.699999988079071;
	width:23.9941463470459px;
	height:23.879880905151367px;
	position:absolute;
	left:55.98631286621094px;
	top:55.7197265625px;
}.ei19_2_17_15 { 
	border-radius:500px;
	width:23.994140625px;
	height:23.8798828125px;
	position:absolute;
	left:31.992177963256836px;
	top:0.3061525225639343px;
}.ei19_2_17_16 { 
	transform: rotate(-179.9999950148969deg);
	border-radius:500px;
	opacity:0.699999988079071;
	width:23.994142532348633px;
	height:23.879880905151367px;
	position:absolute;
	left:23.994142532348633px;
	top:23.8798828125px;
}.ei19_2_17_17 { 
	width:14.560546875px;
	height:0.81640625px;
	position:absolute;
	left:9.433584213256836px;
	top:0.4082033038139343px;
}.ei19_2_17_18 { 
	width:61.11338806152344px;
	height:60.508544921875px;
	position:absolute;
	left:103.56448364257812px;
	top:108.3779296875px;
}.ei19_2_17_19 { 
	background-color:rgba(236.00000113248825, 178.00000458955765, 46.000001057982445, 1);
	opacity:0.47999998927116394;
	width:55.70344543457031px;
	height:55.629356384277344px;
	position:absolute;
	left:5.409942626953125px;
	top:3.3560256958007812px;
}.ei19_2_17_20 { 
	background-color:rgba(236.00000113248825, 162.00000554323196, 46.000001057982445, 1);
	background-image:url(images/yellow.png);
	width:55.703460693359375px;
	height:55.62934875488281px;
	position:absolute;
	left:5.33209228515625px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}.ei19_2_17_21 { 
	transform: rotate(135.13675473688642deg);
	border-radius:500px;
	opacity:0.30000001192092896;
	width:23.937084197998047px;
	height:23.937082290649414px;
	position:absolute;
	left:33.93284606933594px;
	top:43.62291717529297px;
}.ei19_2_17_22 { 
	width:14.765625px;
	height:0.81640625px;
	position:absolute;
	left:5.332000732421875px;
	top:31.83984375px;
}.ei19_2_17_23 { 
	opacity:0.6000000238418579;
	width:55.78125px;
	height:23.67578125px;
	position:absolute;
	left:5.33209228515625px;
	top:0.2041015625px;
	border-top-left-radius:1000px;
	border-top-right-radius:1000px;
	border-bottom-left-radius:1000px;
	border-bottom-right-radius:1000px;
}.ei19_2_17_24 { 
	opacity:0.30000001192092896;
	width:37.529296875px;
	height:1.224609375px;
	position:absolute;
	left:14.35552978515625px;
	top:22.2470703125px;
}.ei19_2_17_25 { 
	transform: rotate(-89.99999931348552deg);
	border-radius:500px;
	opacity:0.30000001192092896;
	width:23.8798828125px;
	height:23.994140625px;
	position:absolute;
	left:5.53717041015625px;
	top:23.8798828125px;
}.ei19_2_17_26 { 
	transform: rotate(90.00000251646118deg);
	border-radius:500px;
	opacity:0.30000001192092896;
	width:23.879880905151367px;
	height:23.994138717651367px;
	position:absolute;
	left:60.90826416015625px;
	top:0.0000019073486328125px;
}.ei19_2_17_27 { 
	width:37.529296875px;
	height:1.224609375px;
	position:absolute;
	left:14.355438232421875px;
	top:0px;
}.ei19_2_17_28 { 
	width:55.78125px;
	height:58.992149353027344px;
	position:absolute;
	left:108.896484375px;
	top:44.80029296875px;
}.ei19_2_17_29 { 
	background-color:rgba(46.000001057982445, 182.00000435113907, 125.00000014901161, 1);
	opacity:0.47999998927116394;
	width:55.698585510253906px;
	height:55.624473571777344px;
	position:absolute;
	left:0.08260364830493927px;
	top:3.36767578125px;
}.ei19_2_17_30 { 
	background-color:rgba(46.000001057982445, 166.00000530481339, 125.00000014901161, 1);
	background-image:url(images/green.png);
	width:55.698585510253906px;
	height:55.624473571777344px;
	position:absolute;
	left:0.08260364830493927px;
	top:0.10205078125px;
	background-repeat:no-repeat;
	background-size:cover;
}.ei19_2_17_31 { 
	opacity:0.5;
	width:16.0986328125px;
	height:0.81640625px;
	position:absolute;
	left:31.9921875px;
	top:54.80126953125px;
}.ei19_2_17_32 { 
	border-radius:500px;
	width:23.994140625px;
	height:23.8798828125px;
	position:absolute;
	left:31.787109375px;
	top:31.83984375px;
}.ei19_2_17_34 { 
	transform: rotate(-90.0000025164905deg);
	opacity:0.3199999928474426;
	width:34.2890625px;
	height:1.0254043340682983px;
	position:absolute;
	left:0.0000020976342511858093px;
	top:45.82080078125px;
}.ei19_2_17_35 { 
	transform: rotate(-90.0000025164907deg);
	opacity:0.3199999928474426;
	width:34.2890625px;
	height:1.0254043340682983px;
	position:absolute;
	left:22.96875px;
	top:45.82080078125px;
}.ei19_2_17_36 { 
	transform: rotate(179.99999501489447deg);
	border-radius:500px;
	opacity:0.5;
	width:23.994138717651367px;
	height:23.8798885345459px;
	position:absolute;
	left:23.994140625px;
	top:55.61769104003906px;
}.ei19_2_17_37 { 
	border-radius:500px;
	width:23.994140625px;
	height:23.8798828125px;
	position:absolute;
	left:1.9028571784929227e-7px;
	top:0px;
}.ei19_2_17_38 { 
	width:55.78135681152344px;
	height:58.992149353027344px;
	position:absolute;
	left:45.32215881347656px;
	top:44.80029296875px;
}.ei19_2_17_39 { 
	background-color:rgba(14.875001013278961, 156.6833460330963, 199.3249922990799, 1);
	opacity:0.47999998927116394;
	width:55.703460693359375px;
	height:55.624473571777344px;
	position:absolute;
	left:0px;
	top:3.36767578125px;
}.ei19_2_17_40 { 
	background-color:rgba(54.00000058114529, 181.0000044107437, 240.00000089406967, 1);
	background-image:url(images/blue.png);
	width:55.703460693359375px;
	height:55.624473571777344px;
	position:absolute;
	left:0px;
	top:0.10205078125px;
	background-repeat:no-repeat;
	background-size:cover;
}.ei19_2_17_41 { 
	opacity:0.4000000059604645;
	width:55.576171875px;
	height:23.4716796875px;
	position:absolute;
	left:0.0001068115234375px;
	top:31.94189453125px;
	border-top-left-radius:1500px;
	border-top-right-radius:1500px;
	border-bottom-left-radius:1500px;
	border-bottom-right-radius:1500px;
}.ei19_2_17_42 { 
	transform: rotate(-89.99999931348552deg);
	border-radius:500px;
	opacity:0.30000001192092896;
	width:23.8798828125px;
	height:23.994140625px;
	position:absolute;
	left:0.2051849365234375px;
	top:55.82177734375px;
}.ei19_2_17_43 { 
	transform: rotate(90.00000251646118deg);
	border-radius:500px;
	opacity:0.30000001192092896;
	width:23.879880905151367px;
	height:23.994138717651367px;
	position:absolute;
	left:55.57627868652344px;
	top:31.94189453125px;
}.ei19_2_17_44 { 
	opacity:0.4000000059604645;
	width:37.529296875px;
	height:1.224609375px;
	position:absolute;
	left:9.023544311523438px;
	top:54.18896484375px;
}.ei19_2_17_45 { 
	width:37.529296875px;
	height:1.224609375px;
	position:absolute;
	left:9.023544311523438px;
	top:31.94189453125px;
}.ei19_2_17_46 { 
	opacity:0.5;
	width:14.560546875px;
	height:0.81640625px;
	position:absolute;
	left:41.22080993652344px;
	top:22.96142578125px;
}.ei19_2_17_47 { 
	border-radius:500px;
	width:23.994140625px;
	height:23.8798828125px;
	position:absolute;
	left:31.787216186523438px;
	top:0px;
}.e41_54 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:126px;
	position:absolute;
	left:0px;
	top:2014px;
}.e41_56 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:451px;
	height:131px;
	position:absolute;
	left:628px;
	top:1373px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_59 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:27px;
	position:absolute;
	left:977px;
	top:1466px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e41_55 { 
	color:rgba(0, 0, 0, 1);
	width:417px;
	height:115px;
	position:absolute;
	left:645.28515625px;
	top:1252px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e43_57 { 
	color:rgba(0, 0, 0, 1);
	width:399px;
	height:87px;
	position:absolute;
	left:657.28515625px;
	top:1393px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e43_60 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:200px;
	position:absolute;
	left:0px;
	top:2116px;
}.e23_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:380px;
	top:1792px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e23_50 { 
	background-color:rgba(75.43749645352364, 72.6085938513279, 72.6085938513279, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:1195px;
	top:1788px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e21_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:380px;
	height:104px;
	position:absolute;
	left:407px;
	top:2062px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e23_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:380px;
	height:104px;
	position:absolute;
	left:275px;
	top:1924px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e23_49 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:379px;
	height:103px;
	position:absolute;
	left:787px;
	top:1789px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e21_49 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:380px;
	height:104px;
	position:absolute;
	left:815px;
	top:2062px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e21_51 { 
	width:98px;
	height:90px;
	position:absolute;
	left:426px;
	top:2069px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_54 { 
	width:82px;
	height:81px;
	position:absolute;
	left:830px;
	top:2072px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_47 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:379px;
	height:104px;
	position:absolute;
	left:682px;
	top:1923px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e23_3042 { 
	box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
	width:86px;
	height:84px;
	position:absolute;
	left:696px;
	top:1933px;
}.e23_3059 { 
	width:86px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_3075 { 
	width:86px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_3076 { 
	background-color:rgba(249.00000035762787, 245.00000059604645, 241.00000083446503, 1);
	width:86px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_3090 { 
	width:62.41935729980469px;
	height:60.96774673461914px;
	position:absolute;
	left:11.790313720703125px;
	top:11.516124725341797px;
}.e23_3091 { 
	box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
	width:59.8780403137207px;
	height:60.96774673461914px;
	position:absolute;
	left:1.2706297636032104px;
	top:0px;
}.e23_3092 { 
	background-color:rgba(255, 255, 255, 1);
	width:59.8780403137207px;
	height:60.96774673461914px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_3093 { 
	width:59.8780403137207px;
	height:60.96774673461914px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_3094 { 
	background-color:rgba(0, 0, 0, 1);
	width:59.8780403137207px;
	height:60.96774673461914px;
	position:absolute;
	left:0px;
	top:1.863871013085827e-8px;
}.e23_3095 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:46.00520324707031px;
	height:8.594030380249023px;
	position:absolute;
	left:5.352450847625732px;
	top:3.4211976528167725px;
}.e23_3096 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:43.35963439941406px;
	height:42.45936965942383px;
	position:absolute;
	left:12.388860702514648px;
	top:13.87802791595459px;
}.e23_3097 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:30.783830642700195px;
	height:30.46408462524414px;
	position:absolute;
	left:18.979055404663086px;
	top:20.407108306884766px;
}.e23_3098 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:59.8780403137207px;
	height:60.96774673461914px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_3078 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.07811974734067917) 60.56673526763916%,rgba(0, 0, 0, 0.25999999046325684) 100%) ;
	width:86px;
	height:84px;
	position:absolute;
	left:263.67034912109375px;
	top:-142px;
}.e23_3080 { 
	width:86px;
	height:84px;
	position:absolute;
	left:0px;
	top:2.842170943040401e-14px;
}.e23_3081 { 
	width:86px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_3694 { 
	width:83px;
	height:83px;
	position:absolute;
	left:804px;
	top:1799px;
}.e24_3704 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_3705 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_3713 { 
	width:60.241947174072266px;
	height:60.24192810058594px;
	position:absolute;
	left:11.379032135009766px;
	top:11.379014015197754px;
}.e24_3714 { 
	box-shadow:0px 0px 8px rgba(30.00000011175871, 215.0000023841858, 96.00000187754631, 0.25);
	width:56.22582244873047px;
	height:56.225799560546875px;
	position:absolute;
	left:2.0080676078796387px;
	top:2.008066415786743px;
}.e24_3715 { 
	background-color:rgba(30.00000011175871, 215.0000023841858, 96.00000187754631, 1);
	width:56.054134368896484px;
	height:56.052772521972656px;
	position:absolute;
	left:0.0846976488828659px;
	top:0.0927017480134964px;
}.e24_3707 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.07811974734067917) 60.56673526763916%,rgba(0, 0, 0, 0.25999999046325684) 100%) ;
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_3708 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.25999999046325684) 14.0625%,rgba(255, 255, 255, 0.07811974734067917) 64.0625%,rgba(255, 255, 255, 0) 100%) ;
	width:83px;
	height:83px;
	position:absolute;
	left:-3.6426281216359186e-19px;
	top:-3.6426281216359186e-19px;
}.e24_3709 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:2.842170943040401e-14px;
}.e24_3710 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_6712 { 
	box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
	width:91px;
	height:85px;
	position:absolute;
	left:297px;
	top:1933px;
}.e24_6727 { 
	width:91px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_6741 { 
	width:91px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_6742 { 
	width:91px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:4px;
}.e24_6754 { 
	width:66.04838562011719px;
	height:61.69355010986328px;
	position:absolute;
	left:12.47580337524414px;
	top:11.653221130371094px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e24_6755 { 
	box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
	width:35.225807189941406px;
	height:49.69757843017578px;
	position:absolute;
	left:15.411283493041992px;
	top:5.826624870300293px;
}.e24_6756 { 
	background-color:rgba(10.000000353902578, 207.00000286102295, 131.00000739097595, 1);
	width:17.60938835144043px;
	height:16.565879821777344px;
	position:absolute;
	left:0.0039033780340105295px;
	top:33.13167953491211px;
}.e24_6757 { 
	background-color:rgba(162.00000554323196, 89.00000229477882, 255, 1);
	width:17.60938835144043px;
	height:16.565858840942383px;
	position:absolute;
	left:0.0039033780340105295px;
	top:16.56586265563965px;
}.e24_6758 { 
	background-color:rgba(242.00000077486038, 78.00000295042992, 30.00000011175871, 1);
	width:17.60938835144043px;
	height:16.565858840942383px;
	position:absolute;
	left:0.005246385931968689px;
	top:0.00003879341238643974px;
}.e24_6759 { 
	background-color:rgba(255, 114.0000008046627, 98.00000175833702, 1);
	width:17.60938262939453px;
	height:16.565860748291016px;
	position:absolute;
	left:17.612899780273438px;
	top:0.0000255499871855136px;
}.e24_6760 { 
	background-color:rgba(26.000000350177288, 188.0000039935112, 254.00000005960464, 1);
	width:17.60938262939453px;
	height:16.565858840942383px;
	position:absolute;
	left:17.612899780273438px;
	top:16.56586265563965px;
}.e24_6744 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.07811974734067917) 60.56673526763916%,rgba(0, 0, 0, 0.25999999046325684) 100%) ;
	width:91px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:4px;
}.e24_6745 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.25999999046325684) 0%,rgba(255, 255, 255, 0.07811974734067917) 64.0625%,rgba(255, 255, 255, 0) 100%) ;
	width:91px;
	height:85px;
	position:absolute;
	left:-4.923144293416809e-19px;
	top:-4.923144293416809e-19px;
	border-radius:4px;
}.e24_6746 { 
	width:91px;
	height:85px;
	position:absolute;
	left:0px;
	top:2.842170943040401e-14px;
	border-radius:4px;
}.e24_6747 { 
	width:91px;
	height:85px;
	position:absolute;
	left:-1.3366094863166131e-19px;
	top:-1.2484814053612721e-19px;
	border-radius:4px;
}.e41_44 { 
	width:94px;
	height:95px;
	position:absolute;
	left:397px;
	top:1796px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e43_61 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:515px;
	top:1805px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e43_62 { 
	width:226px;
	height:50px;
	position:absolute;
	left:510px;
	top:1835px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_63 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:515px;
	top:1839px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e43_67 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:402px;
	top:1937px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e43_68 { 
	width:240px;
	height:50px;
	position:absolute;
	left:397px;
	top:1967px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_69 { 
	color:rgba(0, 0, 0, 1);
	width:221px;
	height:35px;
	position:absolute;
	left:402px;
	top:1970px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e43_86 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:539px;
	top:2071px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e43_87 { 
	width:226px;
	height:50px;
	position:absolute;
	left:534px;
	top:2101px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_88 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:539px;
	top:2110px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e43_89 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:927px;
	top:2069px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e43_90 { 
	width:226px;
	height:50px;
	position:absolute;
	left:922px;
	top:2099px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_91 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:927px;
	top:2108px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e43_83 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:804px;
	top:1937px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e43_84 { 
	width:233px;
	height:50px;
	position:absolute;
	left:799px;
	top:1967px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_85 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:35px;
	position:absolute;
	left:804px;
	top:1976px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e43_64 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:926px;
	top:1805px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e43_65 { 
	width:226px;
	height:50px;
	position:absolute;
	left:919px;
	top:1835px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e43_66 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:926px;
	top:1837px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e43_81 { 
	background-color:rgba(86.06250151991844, 79.60781067609787, 79.60781067609787, 1);
	width:226px;
	height:50px;
	position:absolute;
	left:1320px;
	top:1835px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e43_82 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:1325px;
	top:1842px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_92 { 
	color:rgba(255, 255, 255, 1);
	width:272px;
	height:69px;
	position:absolute;
	left:605px;
	top:1614px;
	font-family:Inter;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e45_93 { 
	color:rgba(161.49999797344208, 155.44374614953995, 155.44374614953995, 1);
	width:272px;
	height:69px;
	position:absolute;
	left:605px;
	top:1683px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e45_94 { 
	background-color:rgba(75.43749645352364, 72.6085938513279, 72.6085938513279, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:1079px;
	top:1922px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e45_96 { 
	background-color:rgba(86.06250151991844, 79.60781067609787, 79.60781067609787, 1);
	width:226px;
	height:50px;
	position:absolute;
	left:1204px;
	top:1969px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e45_97 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:1209px;
	top:1976px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_98 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:1211px;
	top:1939px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e45_100 { 
	background-color:rgba(0, 0, 0, 1);
	width:183px;
	height:54px;
	position:absolute;
	left:1138px;
	top:15px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e45_99 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:23px;
	position:absolute;
	left:1189px;
	top:29px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}.e45_101 { 
	background-color:rgba(0, 0, 0, 1);
	width:183px;
	height:54px;
	position:absolute;
	left:99px;
	top:580px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e45_102 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:23px;
	position:absolute;
	left:142px;
	top:595px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}.e45_104 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:23px;
	position:absolute;
	left:341px;
	top:595px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}.e17_3 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:55px;
	position:absolute;
	left:355px;
	top:2504px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e17_4 { 
	color:rgba(0, 0, 0, 1);
	width:517px;
	height:55px;
	position:absolute;
	left:613px;
	top:2588px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e3_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 0.5);
	width:200px;
	height:200px;
	position:absolute;
	left:207px;
	top:2411px;
}.e3_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 0.6000000238418579);
	width:150px;
	height:150px;
	position:absolute;
	left:232px;
	top:2436px;
}.e3_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 0.699999988079071);
	width:100px;
	height:100px;
	position:absolute;
	left:257px;
	top:2461px;
}.e3_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:282px;
	top:2486px;
}.e9_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 0.5);
	width:200px;
	height:200px;
	position:absolute;
	left:938px;
	top:2524px;
}.e9_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 0.6000000238418579);
	width:150px;
	height:150px;
	position:absolute;
	left:963px;
	top:2549px;
}.e9_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 0.699999988079071);
	width:100px;
	height:100px;
	position:absolute;
	left:988px;
	top:2574px;
}.e9_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:1013px;
	top:2599px;
}.e45_106 { 
	background-color:rgba(75.43749645352364, 72.6085938513279, 72.6085938513279, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:1221px;
	top:2062px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e45_108 { 
	background-color:rgba(86.06250151991844, 79.60781067609787, 79.60781067609787, 1);
	width:226px;
	height:50px;
	position:absolute;
	left:1346px;
	top:2109px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e45_109 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:1351px;
	top:2116px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_110 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:1353px;
	top:2079px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e45_111 { 
	background-color:rgba(75.43749645352364, 72.6085938513279, 72.6085938513279, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:-33px;
	top:1788px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e45_112 { 
	background-color:rgba(86.06250151991844, 79.60781067609787, 79.60781067609787, 1);
	width:226px;
	height:50px;
	position:absolute;
	left:92px;
	top:1835px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e45_113 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:97px;
	top:1842px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_114 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:99px;
	top:1805px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e45_115 { 
	background-color:rgba(75.43749645352364, 72.6085938513279, 72.6085938513279, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:-133px;
	top:1925px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e45_116 { 
	background-color:rgba(86.06250151991844, 79.60781067609787, 79.60781067609787, 1);
	width:226px;
	height:50px;
	position:absolute;
	left:-8px;
	top:1972px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e45_117 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:-3px;
	top:1979px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_118 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:-1px;
	top:1942px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e45_119 { 
	background-color:rgba(75.43749645352364, 72.6085938513279, 72.6085938513279, 1);
	width:380px;
	height:103px;
	position:absolute;
	left:-8px;
	top:2061px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e45_120 { 
	background-color:rgba(86.06250151991844, 79.60781067609787, 79.60781067609787, 1);
	width:226px;
	height:50px;
	position:absolute;
	left:117px;
	top:2108px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e45_121 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:35px;
	position:absolute;
	left:122px;
	top:2115px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_122 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:35px;
	position:absolute;
	left:124px;
	top:2078px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e68_44 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:307px;
	height:220px;
	position:absolute;
	left:165px;
	top:790px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}.e68_45 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:307px;
	height:220px;
	position:absolute;
	left:559px;
	top:790px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}.e68_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:307px;
	height:220px;
	position:absolute;
	left:968px;
	top:790px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}